<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Dyno Plots</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <div class="page-header">
        <h1>Road dyno <small>Dyno Plots</small></h1>
    </div>
    <div class="jumbotron">
        <p>No runs are loaded</p>
        <p><a class="btn btn-primary btn-lg" th:href="@{/add}" role="button">Load your log now!</a></p>
    </div>
    <div th:include="fragments/fragments :: footer"></div>
</div>

</body>
</html>