<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Dyno Plots</title>
    <th:block th:include="fragments/includes :: head"></th:block>

    <!-- amCharts javascript sources -->
    <script src="http://www.amcharts.com/lib/3/amcharts.js" th:src="@{/js/amcharts/amcharts.js}" type="text/javascript"></script>
    <script src="http://www.amcharts.com/lib/3/xy.js" th:src="@{/js/amcharts/xy.js}" type="text/javascript"></script>

    <!-- amCharts plugins -->
    <script type="text/javascript" src="https://www.amcharts.com/lib/3/plugins/export/export.min.js" th:src="@{/js/amcharts/plugins/export/export.min.js}"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" th:href="@{/js/amcharts/plugins/export/export.css}"/>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a th:href="@{/add}" class="btn btn-primary">Add run</a>
                    <a th:href="@{/dyno-plots-empty}" class="btn btn-warning pull-right">Clear all</a>
                </div>
                <div class="panel-body">
                    <div th:if="${not #lists.isEmpty(runInfoList)}">

                        <div class="panel panel-info" th:each="runInfo : ${runInfoList}">
                            <div class="panel-heading" th:attr="style='color:' + ${runInfo.color}">
                                <form th:action="@{/change-status}" method="post" class="pull-left">
                                    <input type="hidden" th:name="rid" th:value="${runInfo.id}"/>
                                    <input type="checkbox" class="form-post" th:name="active" th:checked="${runInfo.active}"/>
                                </form>
                                <input type="text" th:value="${runInfo.name}" disabled="disabled" style="width: 160px; border: none; background-color: #d9edf7;"/>
                                <a th:href="${'/remove/' + runInfo.id}" type="button" style="float: right"
                                   title="remove run" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-remove"/>
                                </a>
                                <a th:href="${'/edit/' + runInfo.id}" type="button" style="float: right"
                                   title="edit run" class="btn btn-default btn-xs">
                                    <span class="glyphicon glyphicon-edit"/>
                                </a>
                            </div>

                            <div class="panel-body vehicleInfo">
                                <strong th:text="'Power '+ ${#numbers.formatDecimal(runInfo.maxPower.power, 2, 1)} +'HP @ ' + ${#numbers.formatDecimal(runInfo.maxPower.rpm, 2, 0)}"></strong>
                                <br/>
                                <strong th:text="'Torgue '+ ${#numbers.formatDecimal(runInfo.maxTorque.torque, 2, 1)} +'lb/ft @ ' + ${#numbers.formatDecimal(runInfo.maxTorque.rpm, 2, 0)}"></strong>
                                <hr/>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Final gear ratio</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.finalGearRatio}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Gear ratio</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.gearRatio}"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Tyre diameter</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${#numbers.formatDecimal(runInfo.tyreDiameter, 3, 0)} + 'mm ('+ ${#numbers.formatDecimal(runInfo.tyreDiameter * 0.03937007 , 2, 1)}+'in)'"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Curb weight</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.carWeight} + 'kg ('+ ${#numbers.formatDecimal(runInfo.carWeight * 2.20462262 , 2, 2)}+'lb)'"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Occ. weight</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.occupantsWeight} + 'kg ('+ ${#numbers.formatDecimal(runInfo.occupantsWeight * 2.20462262 , 2, 2)}+'lb)'"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>Frontal area</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.frontalArea} + 'sgm ('+ ${#numbers.formatDecimal(runInfo.frontalArea * 10.7639104 , 2, 2)}+'sqft)'"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label>CoD</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span th:text="${runInfo.coefficientOfDrag}"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="chartdiv" style="min-height: 600px;"></div>
                <div id="auxChart" style="min-height: 200px;"></div>
            </div>
        </div>
    </div>
    <div th:include="fragments/fragments :: footer"></div>
</div>


<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var chartText = /*[[${chartDef}]]*/ '{}';
    var chartDef = JSON.parse(chartText);
    AmCharts.makeChart("chartdiv", chartDef);

    var auxChartText = /*[[${auxChartDef}]]*/ '{}';
    var auxChartDef = JSON.parse(auxChartText);
    AmCharts.makeChart("auxChart", auxChartDef);
    /*]]>*/

    $(document).ready(function () {
        $('input[type=checkbox].form-post').change(function () {
            var form = $(this).parent();
            form.submit();
        });
    });
</script>

</body>
</html>