<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Road Dyno | Welcome!</title>
    <th:block th:include="fragments/includes :: head"></th:block>
</head>

<body>

<h1 th:replace="fragments/fragments :: header"></h1>

<div class="container">
    <div class="page-header">
        <h1>Road dyno
            <small>For car enthusiasts like you!</small>
        </h1>
    </div>

    <div class="page-content">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h4>The following error occurred</h4>
            </div>
            <div class="panel-body">
                <strong th:text="${errorTxt}"></strong>
                <hr/>
                <p><a class="btn btn-primary" th:href="@{/dyno-plots}" role="button">Back to dyno</a></p>
            </div>
        </div>
    </div>
    <div th:include="fragments/fragments :: footer"></div>
</div>

</body>
</html>