<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>

<nav class="navbar navbar-inverse" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}" style="padding-top: 0;">
                <img th:src="@{/images/logo.png}"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li th:class="${nav=='dyno-plots'}? 'active' : ''">
                    <a th:href="@{/dyno-plots}">Dyno plots<span class="sr-only">(current)</span></a>
                </li>

                <!--<li th:class="${nav=='tsdyno'}? 'active' : ''">
                    <a th:href="@{/tsdyno}">Tuner studio plugin <span class="sr-only">(current)</span></a>
                </li>-->

                <li th:class="${nav=='help'}? 'active' : ''">
                    <a th:href="@{/help}">Help <span class="sr-only">(current)</span></a>
                </li>
                <li th:class="${nav=='contact'}? 'active' : ''">
                    <a th:href="@{/contact}">Contact <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <div style="color: #74AFAD; margin-top: 30px;" title="Road Dyno is still in beta version!"> &#123;beta!&#125; </div>
        </div>
    </div>
</nav>

<div th:fragment="footer">
    <hr/>
    <footer>
        &copy; 2016 <a th:href="@{/}">Road dyno</a>
        <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/sikrip">
            <span class="fa fa-twitter"></span>
        </a>
        <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/sikrip">
            <span class="fa fa-facebook"></span>
        </a>
    </footer>
</div>

</body>

</html>